team 8 node red.txt
[{"id":"e2e848bd.ed88e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"e2e848bd.ed88e8","name":"","topic":"","payload":"CHANDANA","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":131,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"e2e848bd.ed88e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":401,"y":87,"wires":[]},{"id":"14232ac7.f8fec5","type":"ibmiot in","z":"e2e848bd.ed88e8","authentication":"apiKey","apiKey":"3b401d62.036ad2","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"000777","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":280,"wires":[["5020fd8.8b85d04","eba1360a.f2d3b8"]]},{"id":"5020fd8.8b85d04","type":"function","z":"e2e848bd.ed88e8","name":"temperature","func":"global.set('temperature',msg.payload.Temperature)\n\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["f2f2649a.0d0d98"]]},{"id":"eba1360a.f2d3b8","type":"function","z":"e2e848bd.ed88e8","name":"humidity","func":"global.set('humidity',msg.payload.Humidity)\n\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["f2f2649a.0d0d98"]]},{"id":"ec4cb61a.a18718","type":"ibmiot out","z":"e2e848bd.ed88e8","authentication":"apiKey","apiKey":"d7afa31a.7c1f","outputType":"cmd","deviceId":"000777","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":480,"wires":[]},{"id":"26e14704.6f0698","type":"ui_button","z":"e2e848bd.ed88e8","name":"","group":"23b1c81.3117138","order":4,"width":0,"height":0,"passthru":false,"label":"motoron","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTORON\"}","payloadType":"json","topic":"","x":730,"y":580,"wires":[["ec4cb61a.a18718"]]},{"id":"dcf7e77.5660418","type":"ui_button","z":"e2e848bd.ed88e8","name":"","group":"23b1c81.3117138","order":5,"width":0,"height":0,"passthru":false,"label":"motoroff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTORON\"}","payloadType":"json","topic":"","x":910,"y":620,"wires":[["ec4cb61a.a18718"]]},{"id":"f52a62a5.f1ba5","type":"http in","z":"e2e848bd.ed88e8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":660,"y":160,"wires":[["8ff95c7d.cc3ee"]]},{"id":"9fde6da6.93e16","type":"http response","z":"e2e848bd.ed88e8","name":"","statusCode":"","headers":{},"x":890,"y":160,"wires":[]},{"id":"8ff95c7d.cc3ee","type":"function","z":"e2e848bd.ed88e8","name":"","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\")}\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":280,"wires":[["9fde6da6.93e16"]]},{"id":"515b77a7.9787a8","type":"http in","z":"e2e848bd.ed88e8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":790,"y":380,"wires":[["9fe52274.c5915"]]},{"id":"c608dfe9.5341f","type":"http response","z":"e2e848bd.ed88e8","name":"","statusCode":"","headers":{},"x":1110,"y":380,"wires":[]},{"id":"9fe52274.c5915","type":"function","z":"e2e848bd.ed88e8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":480,"wires":[["c608dfe9.5341f","ec4cb61a.a18718","a29ecd97.36f37"]]},{"id":"a29ecd97.36f37","type":"debug","z":"e2e848bd.ed88e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":540,"wires":[]},{"id":"3b401d62.036ad2","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"d7afa31a.7c1f","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"23b1c81.3117138","type":"ui_group","z":"","name":"default","tab":"cc28c8c2.32b118","order":1,"disp":true,"width":"6","collapse":false},{"id":"cc28c8c2.32b118","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]